LabGBM/MUSIC.MVVM/Service References/ReferenceServiceSong/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="tns:Album" />
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSong" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:GenreMusic" />
      <xs:element minOccurs="0" name="IdAlbum" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Album" nillable="true" type="tns:Album" />
  <xs:complexType name="GenreMusic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreMusic" nillable="true" type="tns:GenreMusic" />
  <xs:complexType name="ArrayOfAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Album" nillable="true" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbum" nillable="true" type="tns:ArrayOfAlbum" />
  <xs:complexType name="ArrayOfListSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListSong" nillable="true" type="tns:ListSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListSong" nillable="true" type="tns:ArrayOfListSong" />
  <xs:complexType name="ListSong">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListSong" nillable="true" type="tns:ListSong" />
  <xs:complexType name="PlayList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="List" nillable="true" type="tns:ListSong" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayList" nillable="true" type="tns:PlayList" />
</xs:schema>