LabGBM/MUSIC.MVVM/Service References/ReferenceServiceSong/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59113/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" />
  <xs:element name="GetSong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="GetSongResult" nillable="true" type="q1:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="GetAlbumResult" nillable="true" type="q2:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="GetListsResult" nillable="true" type="q3:ArrayOfListSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteSongs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="GetCompleteSongsResult" nillable="true" type="q4:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="oPlayList" nillable="true" type="q5:PlayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="AddPlayListResult" nillable="true" type="q6:PlayList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="oList" nillable="true" type="q7:ListSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="AddListResult" nillable="true" type="q8:ListSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongsByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="oListSong" nillable="true" type="q9:ListSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongsByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MUSIC.ENTITIES" minOccurs="0" name="GetSongsByListResult" nillable="true" type="q10:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>